.fo {
    margin-right: 50%;
}

input[type=text] {
    margin: 10px;
    margin-left: 0;
    background-color: #ffffff;
    color: #000006;
}

.sea {
    margin: 30px;
}

#player {
    float: right;
    margin: 30px;
}

.heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px;
}


.para {
    margin: 30px;
    border: 2px slid black;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    /* padding-top : 10px; */
}

li {
    margin: 5px;
}

.bottom {
    display: flex;
    flex-direction: row;
    margin: 30px;
}

#form3,
#form4 {
    padding-right: 10px;
}


a {
    text-decoration: none;
}

body {
    background-color: #383c40;
    color: white;
}

.btn-primary {
    background-color: #FFFFFF; 
    color: #3CB371; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 8px;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    padding: 8px 16px; /* Reduce the padding */
  font-size: 14px; /* Reduce the font size */
  }
  
  .btn-primary:hover {
    background-color: #3CB371; /* Change the background color on hover */
    color: #FFFFFF; /* Change the text color on hover */
    box-shadow: 0 5px 15px rgba(60, 179, 113, 0.4); /* Change the box shadow on hover */
  }
  

  #tot-output {
    margin: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  
  #output {
    width: 50%;
  }
  
  #output-textbox {
    border: 1px solid black;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
  }
  
  #s-output {
    text-align: center;
    margin: auto;
    width: 50%;
  }
  
  #s-output-textbox {
    border: 1px solid black;
    padding: 10px;
    height: 150px;
    overflow-y: auto;
  }
  